:root{
    --bg-color1: #deffff;
    --bg-color2: #adffce;
    --bg-color3: #43ad63;
    --bg-color4: #8cdeaa;
    --text-color1: #14591a;
    --text-color2: #808482;
}
#container{
    margin: auto;
    background-color: var(--bg-color1);
    width: 600px;
}
h5{
    font-style: normal;
}
main{
    background-color: var(--bg-color2);
    box-shadow: 3px 3px 3px;
    padding: 5px;
    width: 300px;
    margin: auto;
}
#sotet{
    background-color: var(--bg-color3);
    color: var(--text-color1);
}
#sima{
    background-color: var(--bg-color4);
}
 
#zold{
    color: var(--text-color1);
}
aside{
    display: flex;
}
img{
    width: 150px;
}
h3{
    color: var(--text-color1);
    text-align: center;
}
h4{
    color: var(--text-color1);
    text-align: center;
}
.p{
    color: var(--text-color1);
}
#zold2{
    color: var(--text-color1);
}
 
table{
    margin: auto;
}
 
h2{
    text-align: right;
}